:root {
  --features-title-height: 86px;
}

.landing-features {
  position: relative;
  margin-top: -2rem;

  @media screen(md) {
    padding-bottom: 5rem;
    margin-bottom: -1px;
  }
}

.landing-features__bg {
  position: absolute;
  top: var(--features-title-height);
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  overflow: hidden;

  .layer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .sword {
    position: absolute;
    bottom: -70px;
    left: 0;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate3d(-26%, 38%, 0);
  }

  .splash {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }

  @media screen(md) {
    height: initial;
  }
  
  @media screen(2xl) {
    .sword {
      width: 30rem;
    }
  }
}

.landing-features__inner {
  z-index: 2;
}

.landing-features__header {
  margin-bottom: theme(spacing.3);
  position: relative;
  padding: 0 0.8rem;

  h1 {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  svg {
    max-width: 100%;
    width: 100%;
    display: inline-block;
  }

  @media screen(md) {
    margin-bottom: theme(spacing.10);
  }
}

.landing-features__list {
  font-size: 1.2rem;
  padding: 0 theme(spacing.2);
  max-width: 100%;
  overflow: hidden;
  position: relative;
  transform: translateY(-70px);

  li {
    font-weight: 400;
    line-height: 1.3;
    padding: theme(spacing.6) theme(spacing.7);

    strong {
      line-height: 1;
      font-weight: 700;
    }
    
    &:last-child {
      margin-bottom: 70px;
    }
  }

  li.f-rates {
    margin: calc(-1 * theme(spacing.6)) calc(-1 * theme(spacing.7));

    div {
      display: flex;
      align-items: center;
      padding: theme(spacing.5) theme(spacing.7);

      strong {
        font-size: theme(size.11);
        margin-right: theme(spacing.6);
      }
    }
  }

  li.f-chance,
  li.f-client,
  li.f-rates {
    font-size: 0.95rem;

    strong {
      font-size: 1.45rem;
    }
  }

  @media screen(md) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    max-width: initial;
    overflow: initial;
    transform: translateY(-70px);
    
    li {
      opacity: 0;
      
      &:last-child {
        margin-bottom: initial;
      }
    }

    li.f-chance {
      max-width: 32rem;

      strong {
        font-size: 1.9rem;
      }
    }

    li.f-rates {
      display: flex;
    }

    li.f-client {
      strong {
        font-size: 1.9rem;
      }
    }

    li.f-limit {
      font-size: 1.9rem;
      line-height: 1;
    }
    li.f-insure {
      font-size: 1.9rem;
      max-width: 38rem;
      line-height: 1;
    }
  }
}

.landing-features__cta {
  margin-top: theme(spacing.2);
  width: 100%;
  display: flex;

  .button {
    min-height: 4rem;
    font-size: 1.1rem;
  }

  @media screen(md) {
    margin-top: theme(spacing.16);
    justify-content: flex-end;

    .button {
      font-size: 1.4rem;
      @apply px-[3.8rem];
      @apply py-[1.4rem];
      
      .button__text {
        line-height: 1;
      }
    }
  }
}
