---
import './features.css';
import imageFeaturesTitleSvgRu from './assets/features-ru.svg?raw';
import Button from '~/components/button/Button.astro';
---

<script>
  import Parallax from 'parallax-js';
  import anime from 'animejs/lib/anime.es.js';

  var featuresScene = document.getElementById('features-scene');
  var parallaxInstance = new Parallax(featuresScene, {
    relativeInput: true,
    clipRelativeInput: true,
    calibrateX: true,
  });

  if (window.innerWidth < 700) {
    parallaxInstance.destroy();
  }

  var features = document.querySelectorAll('.landing-features__list li');

  var featuresAnimation = anime({
    targets: features,
    opacity: 1,
    translateY: 70,
    autoplay: false,
    delay: anime.stagger(100),
  });

  const observer = new IntersectionObserver((entries) => {
    // Loop over the entries
    entries.forEach((entry) => {
      // If the element is visible
      if (entry.isIntersecting) {
        // Add the animation class
        featuresAnimation.play();
      }
    });
  });

  observer.observe(document.querySelector('.landing-features'));
</script>

<section id="landing-features" class="landing-features">
  <div id="features-scene" class="landing-features__bg hidden md:block" role="presentation">
    <img
      data-depth="0.1"
      class="splash"
      src="/images/sword-splash.webp"
      loading="lazy"
      decoding="async"
      width="942"
      height="876"
      alt=""
    />
    <div data-depth="0.02" class="layer">
      <img class="gradient" src="/images/radial-gradient.svg" width="1090" height="1089" alt="" />
    </div>
    <div data-depth="0.2" class="layer">
      <img class="sword" src="/images/sword.webp" loading="lazy" decoding="async" width="575" height="995" alt="" />
    </div>
  </div>

  <div class="landing-features__inner inner">
    <div class="landing-features__header" aria-label="title">
      <h1>Особенности</h1>
      <Fragment set:html={imageFeaturesTitleSvgRu} />
    </div>

    <ul class="landing-features__list">
      <li class="f-chance bg-ex-dark-900">
        Лимитированное выпадение L-монет при охоте на монстров, для всех членов группы:
        <strong class="block mt-1 md:mt-2">шанс 80%</strong>
      </li>

      <li class="f-client bg-ex-purple">
        <strong class="block mb-1 md:mb-2">один ПК — один клиент</strong>
        *на одном компьютере можно запустить один клиент игры
      </li>

      <li class="f-rates">
        <div class="bg-ex-dark-900">
          <strong>x1</strong>
          <span>Получение<br />Adena, Drop, Spoil</span>
        </div>

        <div class="bg-ex-firmcolor">
          <strong>x1</strong>
          <span>Получение<br />опыта и SP</span>
        </div>
      </li>

      <li class="f-insure bg-ex-purple">
        Наличие <strong>гарантированной модификации и синтеза</strong>
      </li>

      <li class="f-limit bg-ex-dark-900">
        <strong>Лимитированный</strong> оффлайн фарм
      </li>

      <li class="f-rmt bg-ex-firmcolor">
        <strong>Легализация RMT</strong> через биржу Expanse
      </li>

      <li class="f-world bg-ex-ice">
        <strong>Насыщенный</strong> игровой <strong>мир</strong>
      </li>
    </ul>

    <div class="landing-features__cta">
      <Button size="md" text="Подробнее о сервере" />
    </div>
  </div>
</section>
