.landing-promo {
  position: relative;
  /* height of border */
  margin-top: -40px;
  margin-bottom: -20px;
  /* it should be lower than Connect and News sections  */
  z-index: 3;
  padding: 3rem 0;

  @media screen(md) {
    margin-top: -119px;
    padding: 15rem 0;
  }
  
  @media screen(2xl) {
    margin-bottom: -1rem;
  }
}

.landing-promo__placeholder {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  
  .svg-top-mask {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 110vw;
    top: 0px;
    z-index: 20;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-composite: exclude;
  }

  @media screen(md) {
    .svg-top-mask {
      display: block;
      max-width: 100%;
    }
    
    img {
      mask: url(#promo-top-mask), linear-gradient(red 0 0);
    }
  }
  
  @media screen(2xl) {
    .svg-top-mask {
      top: -2px;
    }
  }
}

.landing-promo__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9rem;
  cursor: pointer;
  position: relative;
  z-index: 2;

  &:hover {
    #svg-promo-title-align-left {
      transform: translate(-10px, -60%);
      transition: all 0.2s ease-in-out;
    }

    .landing-promo__play-icon {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  @media screen(md) {
    flex-direction: row;
    gap: 3.3rem;
    justify-content: center;
  }
}

.landing-promo__control {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen(md) {
    width: 12rem;
    height: 12rem;
  }
}

.landing-promo__play-bg {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    flex: 1;
  }
}

.landing-promo__play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 1.1rem;
  transition: all 0.2s ease-in-out;
  transform-origin: center;

  @media screen(md) {
    width: 3rem;
  }
}

.landing-promo__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-promo__title {
  display: block;
  line-height: 1;
  font-weight: 600;
  font-size: 1.4rem;
  max-width: 70%;
  text-align: center;
  position: relative;

  > span {
    position: relative;
    z-index: 2;
  }

  > svg {
    z-index: 1;
    transition: all 0.2s ease-in-out;
    position: absolute;
  }

  @media screen(md) {
    text-align: left;
    font-size: 2.75rem;
    max-width: initial;
    flex: 0 1 auto;

    > span {
      display: block;
      /* for proper hypernation */
      max-width: 420px;
    }
  }
  
  @media screen(2xl) {
    > span {
      max-width: 20rem;
    }
  }
}

svg#svg-promo-title-align-center {
  display: block;
  width: 77%;
  left: 50%;
  top: calc(50% + 10px);
  transform: translate(-50%, -50%);

  @media screen(md) {
    display: none;
  }
}

svg#svg-promo-title-align-left {
  display: none;

  @media screen(md) {
    display: block;
    width: 105%;
    left: 0px;
    top: calc(50% + 15px);
    transform: translate(-10px, -50%);
  }
}

.landing-promo__video {
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
