---
import { Image } from 'astro:assets';
import imageVideoPlaceholder from '~/assets/images/video-placeholder.jpg';
import SvgPromoTitleAlignLeft from './assets/promo-title-align-left.svg?raw';
import SvgPromoTitleAlignCenter from './assets/promo-title-align-center.svg?raw';
import SvgPromoPlayBg from './assets/promo-play-bg.svg?raw';
import Icon from '~/components/icon/Icon.astro';
import './promo.css';
---

<section class="landing-promo" id="landing-promo">
  <div class="landing-promo__placeholder">
    <Image src={imageVideoPlaceholder} alt="" ' />
  </div>

  <div class="landing-promo__inner inner">
    <div class="landing-promo__control">
      <div class="landing-promo__play-bg">
        <Fragment set:html={SvgPromoPlayBg} />
      </div>
      <Icon name="play" class="landing-promo__play-icon" />
    </div>

    <div class="landing-promo__header">
      <h1 class="landing-promo__title">
        <Fragment set:html={SvgPromoTitleAlignLeft} />
        <Fragment set:html={SvgPromoTitleAlignCenter} />
        <span>Погрузись в&nbsp;атмосферу</span>
      </h1>
    </div>
  </div>
</section>
