.button {
  background: theme(colors.ex.neutral);
  color: theme(colors.ex.dark.900);
  text-transform: uppercase;
  padding: theme(spacing.1) theme(spacing.3);
  transform: scale(1);
  min-height: 40px;
  transition: all 0.2ms ease-in;
  font-weight: 900;
  /* will-change: transform; */
}

.button:hover {
  transform: scale(1.02);
}
