---
import './changes.css';
import Image from 'astro/components/Image.astro';
import Button from '~/components/button/Button.astro';
---

<script>
  import anime from 'animejs/lib/anime.es.js';

  var cards = document.querySelectorAll('.cards .card');

  var cardsAnimation = anime.timeline({
    targets: cards,
    easing: 'easeOutQuad',
    delay: 300,
    endDelay: 10,
    duration: 700,
    autoPlay: false,
    filter: ['blur(20px)', 'blur(0px)'],
    // autoplay: false,
    // delay: anime.stagger(100),
  });

  cardsAnimation
    .add({
      opacity: [0, 1],
      targets: '.cards .card--eva',
      rotate: ['0deg', '-14.85deg'],
      scale: [3, 1],
    })
    .add(
      {
        opacity: [0, 1],
        targets: '.cards .card.card--shillen',
        rotate: [0, '9.34deg'],
        translateX: 160,
        translateY: -90,
        scale: [2.5, 1],
      },
      '-=600'
    );

  const observer = new IntersectionObserver((entries) => {
    // Loop over the entries
    entries.forEach((entry) => {
      // If the element is visible
      if (entry.isIntersecting) {
        // Add the animation class
        cardsAnimation.play();
      }
    });
  });

  observer.observe(document.querySelector('.landing-changes'));
</script>

<section id="landing-changes" class="landing-changes">
  <div class="landing-changes__inner inner">
    <div class="landing-changes__info">
      <div class="landing-changes__header">
        <h1>Изменение класса <strong>Храмовника Евы и Храмовника Шилен</strong></h1>
      </div>

      <div class="landing-changes__cta">
        <h4>Эти классы получили новые умения для охоты, а также значительно улучшатся их уникальные роли</h4>
        <p>
          Храмовник Евы будет иметь умения с эффектом натиска и шока, способность поглощать урон союзников и повышать их
          жизнеспособность, а также сможет массово притягивать противников и атаковать их по области. Храмовник Шилен
          сможет снижать дальность врагов с помощью отрицательного эффекта, врываться в ближний бой с помощью умения
          натиска, а также применять атаку по области и вызывать паралич.
        </p>

        <Button text="Умения Храмовников" onclick={`modal_group.showModal()`} />
      </div>
    </div>

    <div class="landing-changes__cards">
      <div class="cards">
        {
          ['eva', 'shillen'].map((el) => (
            <div class:list={['card', { [`card--${el}`]: el }]}>
              <img
                loading="lazy"
                decoding="auto"
                src={el == 'eva' ? '/images/eva-card.png' : '/images/shillen-card.png'}
                alt=""
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
