.spells {
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen(md) {
    flex-direction: row;
    gap: 2.4rem;
  }
}

.spells__intro {
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.5;
  line-height: 1.6;
}

.spells__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 35px;
  height: 217px;
  color: theme(colors.ex.dark.900);
  background: theme(colors.ex.neutral);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
}

.spells__nav {
  display: flex;
}

.spells__nav-button {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
