---
import './news.css';
import Image from 'astro/components/Image.astro';
import imageVideoPlaceholder from '~/assets/images/video-placeholder.jpg';
import NewsList from './NewsList.astro';

const categoriesList = [
  { title: 'Новости', id: 'news' },
  { title: 'Акции', id: 'promos' },
  { title: 'События', id: 'events' },
  { title: 'Обновления', id: 'updates' },
];
---

<section class="landing-news" id="landing-news">
  <div class="landing-news__inner inner">
    <div class="landing-news__header">
      <h1>Актуальное</h1>

      <ul class="landing-news__categories-list">
        {categoriesList.map(({ title, id }) => <li data-ex-id>{title}</li>)}
      </ul>
    </div>

    <NewsList />
  </div>
</section>
