---
import './dialog.css';
import Icon from '../icon/Icon.astro';

const { type, title } = Astro.props;
---

<dialog id={`modal_${type}`} class:list={['modal', { [`modal--${type}`]: type }]}>
  <div class="modal__inner modal-box">
    <form class="modal__close" aria-label="Закрыть" method="dialog">
      <button type="button" onclick={`modal_${type}.close()`}>
        закрыть <Icon name="close" />
      </button>
    </form>

    <div class="modal__body">
      <div class="modal__header">
        <h3 set:html={title} />
      </div>

      <div class="modal__content">
        <slot />
      </div>
    </div>
  </div>

  <form method="dialog" class="modal__backdrop">
    <button>Закрыть</button>
  </form>
</dialog>
