---
import './footer.css';
import Messengers from '~/components/messengers/Messengers.astro';

const footerNav = [
  { text: 'О сервере', href: '/' },
  { text: 'Новости', href: '/' },
  { text: 'База знаний', href: '/' },
  { text: 'Сообщество', href: '/' },
  { text: 'Поддержка', href: '/' },
  { text: 'Пожертвования', href: '/' },
];
---

<footer class="footer">
  <div class="footer__inner inner">
    <div class="footer-topline">
      <h5 class="footer-topline__title">
        Мы рады пригласить Вас стать частью нашего уникального и&nbsp;дружелюбного сообщества
      </h5>
      <p class="footer-topline__text">
        Если у Вас есть вопросы, предложения, или Вы просто хотите общаться на интересующие Вас темы, мы всегда открыты
        и рады новым участникам. <br /><br />
        Подпишитесь, чтобы не пропустить ни одного важного обновления!
      </p>
    </div>

    <div class="footer-extra">
      <div class="footer-extra__left">
        <div class="footer-extra__messengers">
          <Messengers />
        </div>

        <div class="footer-extra__misc" role="presentation">
          <div class="footer-extra__logo">
            <a href="/" aria-label="Expanse"
              ><img class="logo-expanse" src="/images/logo-expanse.svg" alt="Expanse logo" /></a
            >
            <span>by</span>
            <img
              class="logo-samurai"
              src="/images/last-samurai-logo.png"
              width="104"
              height="28"
              loading="lazy"
              decoding="async"
              alt=""
            />
          </div>

          <div class="footer-extra__nav">
            <ul>
              {
                footerNav.map(({ text, href }) => (
                  <li>
                    <a {href}>{text}</a>
                  </li>
                ))
              }
            </ul>
          </div>

          <div class="footer-extra__terms">
            <ul>
              <li><a href="/terms">Правила и условия</a></li>
              <li><a href="/privacy">Политика конфиденциальности</a></li>
              <li>
                <p>
                  © 2019-2023 Innadril SL. All rights reserved.<br />
                  All trademarks are the property of their respective owners.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-extra__right">
        <div class="discord-widget">
          <img class="w-full" src="/images/discord-widget.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>
