.landing-updates {
  position: relative;

  @media screen(md) {
    overflow-x: hidden;
  }
}

.landing-updates__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;

  img {
    display: block;
    object-fit: cover;
  }
}

.landing-updates__inner {
  position: relative;
  z-index: 2;
}

.landing-updates__topline {
  background: theme(colors.ex.ice);
  width: 100vw;
  display: flex;
  align-items: center;
  padding: theme(spacing.3) theme(spacing.7);

  h1 {
    text-transform: uppercase;
    font-size: theme(fontSize.xl);
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: theme(fontSize.lg);

    @media screen(md) {
      flex-direction: row;
      font-weight: 300;
      font-size: theme(fontSize.3xl);

      strong {
        display: inline-block;
        font-weight: 700;
        margin-left: theme(spacing.1);
      }
    }
  }
}

.landing-updates__header {
  padding-top: theme(spacing.6);
  padding-right: theme(spacing.6);
  padding-left: theme(spacing.6);

  @media screen(md) {
    padding-top: theme(spacing.7);
    padding-left: theme(spacing.10);
    padding-right: theme(spacing.7);
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    font-size: theme(fontSize.3xl);
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: theme(spacing.5);

    @media screen(md) {
      font-size: theme(fontSize.4xl);
      margin-bottom: theme(spacing.4);
      flex: 1 0 100%;
    }
  }

  h3 {
    margin-bottom: theme(spacing.6);
    font-weight: 600;

    @media screen(md) {
      margin-bottom: 0;
      flex: 0 1 40%;
      padding-right: theme(spacing.4);
    }
  }

  p {
    @media screen(md) {
      margin-bottom: 0;
      padding-left: theme(spacing.2);
      flex: 0 1 60%;
    }
  }
}

.new-race {
  display: flex;
  flex-direction: column;

  @media screen(md) {
    flex-direction: row;
  }
}

/* for gradient animations we need variables */

@property --gradient-color-start {
  syntax: '<color>';
  initial-value: rgba(28, 69, 117, 0);
  inherits: false;
}

@property --gradient-color-end {
  syntax: '<color>';
  initial-value: rgba(53, 129, 219, 0.5);
  inherits: false;
}

.new-race__item {
  position: relative;
  flex: 0 1 auto;
  transition: all 0.2s ease-in;
  will-change: transform;

  @media screen(md) {
    flex: 0 1 50%;
    width: calc(50% - 6px);

    &:not(:last-child) {
      margin-right: theme(spacing.3);
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    will-change: transform;
    transition:
      all 0.2s ease-in,
      --gradient-color-start 0.2s,
      --gradient-color-end 0.2s;
  }

  &:hover {
    .new-race__text {
      grid-template-rows: 1fr;
      opacity: 1;
      margin-bottom: 1rem;
      margin-top: 0.9rem;
      transform: translate(0px, 0px);
    }

    .new-race__media::after {
      height: 370px;
      opacity: 0.6;
      background: linear-gradient(180deg, rgba(16, 14, 19, 0) 0.01%, rgba(16, 14, 19, 0.6) 42.5%);
    }

    .new-race__image {
      transform: translate(-50%, 0);
    }
  }

  &.spirit {
    &::before {
      background: linear-gradient(180deg, var(--gradient-color-start) 0%, var(--gradient-color-end) 100%);
    }

    &:hover {
      &::before {
        --gradient-color-end: rgb(53, 129, 219);
        opacity: 1;
        background: linear-gradient(180deg, var(--gradient-color-start) 0%, var(--gradient-color-end) 57%);
      }
    }
  }

  &.templar {
    &::before {
      --gradient-color-start: rgba(136, 22, 51, 0);
      --gradient-color-end: rgba(238, 39, 89, 0.5);
      background: linear-gradient(180deg, var(--gradient-color-start) 0%, var(--gradient-color-end) 100%);
    }

    &:hover {
      &::before {
        --gradient-color-start: rgba(136, 22, 51, 0);
        --gradient-color-end: rgb(238, 39, 89);
        opacity: 1;
        background: linear-gradient(180deg, var(--gradient-color-start) 0%, var(--gradient-color-end) 55.5%);
      }
    }
  }
}

.new-race__media {
  position: relative;
  z-index: 2;
  overflow: hidden;
  aspect-ratio: 360/400;

  &::after {
    content: '';
    position: absolute;
    height: 270px;
    left: 0%;
    right: 0%;
    bottom: 0px;
    z-index: 3;
    background: linear-gradient(180deg, rgba(16, 14, 19, 0) 0.01%, #100e13 100%);
    opacity: 0.5;
    transition: height 0.2s ease-in;
  }

  @media screen(md) {
    aspect-ratio: 524/600;
  }
}

.new-race__image {
  width: 431px;
  max-width: initial;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 20px);
  transition: transform 0.2s ease-in-out;
  will-change: transform;

  @media screen(md) {
    width: 628px;
    height: 752px;
  }
}

.new-race__cta {
  z-index: 5;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: theme(spacing.9);
}

.new-race__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: theme(spacing.5);
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease-in;

  @media screen(md) {
    margin-bottom: 0;
  }
}

.new-race__text {
  display: none;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  grid-template-rows: 0fr;
  padding: 0 1rem;
  transform: translate(0, 20px);
  transition:
    all 0.3s,
    grid-template-rows 0.2s ease-out;
  opacity: 0;
  margin-bottom: 0;
  margin-top: 2rem;

  p {
    overflow: hidden;
  }

  @media screen(md) {
    display: grid;
  }
}

.new-race__button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: theme(spacing.3) theme(spacing.4);
  font-size: 0.8rem;
  background: theme(colors.ex.neutral);
  color: theme(colors.ex.dark.900);
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
}
