---
import Dialog from '~/components/dialog/Dialog.astro';
import Spells from '../spells/Spells.astro';

import { spiritSpells, evaSpells, shilenSpells, templarSpells } from '../spells/spells-list';
---

<Dialog type="group" title="<span class='font-light'>Умения</span> Храмовника Евы и Храмовника Шилен">
  <Spells
    type="eva"
    list={evaSpells}
    title="Ева"
    intro="Воин, использующий мощную силу света и обладающий характеристиками классов Воин и Рыцарь. <br/><br>Броня не может быть снята, т.к. её нужно поддерживать, чтобы контролировать силу света. Внешний вид не меняется даже при использовании эффектов трансформаций."
  />
  <Spells
    type="shilen"
    list={shilenSpells}
    title="Ева"
    intro="Воин, использующий мощную силу света и обладающий характеристиками классов Воин и Рыцарь. <br/>Броня не может быть снята, т.к. её нужно поддерживать, чтобы контролировать силу света. Внешний вид не меняется даже при использовании эффектов трансформаций."
  />
</Dialog>

<Dialog type="spirit" title="Дух">
  <Spells
    type="spirit"
    list={spiritSpells}
    title="Ева"
    intro={`Дух - это маг Высших Эльфов, который использует пламенную, морозную, природную магию и магию света.
      Может экипировать только двуручное магическое дробящее оружие, и когда экипирует его, внешность автоматически меняется в Сферу Духа, которая может использовать разную магию. Может экипировать только символ.`}
  />
</Dialog>

<Dialog type="templar" title="Священный<br>Храмовник">
  <Spells
    type="templar"
    list={templarSpells}
    title="Ева"
    intro="Воин, использующий мощную силу света и обладающий характеристиками классов Воин и Рыцарь. <br/><br>Броня не может быть снята, т.к. её нужно поддерживать, чтобы контролировать силу света. Внешний вид не меняется даже при использовании эффектов трансформаций."
  />
</Dialog>

<Dialog type="promo">
  <iframe
    id="promo-youtube"
    width="860"
    height="483"
    src="https://www.youtube.com/embed/pw0tsTb_Pw4?enablejsapi=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</Dialog>
