---
import './player.css';
import Icon from '../icon/Icon.astro';
---

<script>
  import AudioPlayer from './player.js';
  import 'js-circle-progress';

  // Create an instance of CircleProgress element

  const player = new AudioPlayer('.player', [{ name: 'ovo', url: '/src/assets/songs/OvO.mp3' }]);
</script>

<div class="player">
  <circle-progress text-format="none" class="progress" value="0" max="100"></circle-progress>
  <div class="player__control">
    <div class="player__icon pl-1 flex items-center justify-center size-[1.6rem]">
      <Icon name="play" width="18px" height="22px" />
    </div>
  </div>

  <div class="player__label text-[0.66rem]">mp3</div>
</div>
