@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.ex.dark.900');
  background-image: url('/src/assets/images/bg-pattern.png');
  color: theme('colors.ex.neutral');
  padding-top: theme(size.16);
  font-size: theme(fontSize.sm);

  @media screen(xl) {
    font-size: theme(fontSize.base);
  }
}

.inner {
  width: 100%;
  margin: auto;

  @media screen(md) {
    max-width: theme(size.inner);
  }
}
