@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.ex.dark.900');
  background-image: url('/src/assets/images/bg-pattern.png');
  color: theme('colors.ex.neutral');

  font-size: theme(fontSize.sm);

  @media screen(xl) {
    font-size: theme(fontSize.base);
  }
}

.main {
  position: relative;

  @media screen(md) {
    padding-top: 0;
  }
}

.inner {
  width: 100%;
  margin: auto;
  position: relative;

  @media screen(md) {
    max-width: theme(size.inner);
  }
}

@define-mixin cl $size {
  font-size: clamp($size, calc($size + (1.25 - 1.125) * ((100vw - 20rem) / (96 - 20))), $size);
}
