---
import '../../src/assets/styles/tailwind.css';
import CustomStyles from '../components/CustomStyles.astro';
import BasicScripts from '../components/common/BasicScripts.astro';

// import BasicScripts from '~/components/common/BasicScripts.astro';
---

<!doctype html>
<!-- todo: should add class 2xl:text-[20px] -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <CustomStyles />
  </head>

  <!-- todo: should add class tracking-tight for letter spacing -->
  <body class="antialiased text-default bg-page">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
