---
import '@fontsource-variable/unbounded';
import Footer from '../components/footer/Footer.astro';
import Button from '~/components/button/Button.astro';
import '../../src/assets/styles/tailwind.css';
import BasicScripts from '../components/common/BasicScripts.astro';
import LandingDiaglos from '~/components/common/LandingDialogs.astro';

// import BasicScripts from '~/components/common/BasicScripts.astro';
const { hasFooter = true } = Astro.props;
---

<script>
  import { isSafari } from '@braintree/browser-detection';

  if (isSafari()) {
    document.documentElement.classList.add('is-safari');
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
  </head>

  <!-- todo: should add class tracking-tight for letter spacing -->
  <body class="antialiased text-default bg-page">
    <svg width="0" height="0" viewBox="0 0 1920 49" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="promo-top-mask">
        <path
          d="M27.59 43.7713L0 33.1349V0.953098H1920V21.9531L1903.44 28.4986L1878.36 33.1349L1784.54 21.9531H1709.79L1654.6 38.3168L1597.91 28.4986L1384.19 33.1349L1368.63 43.7713L1342.54 33.1349L1190.53 28.4986L1144.88 21.9531L1136.85 48.9531L1124.31 28.4986L1081.66 38.3168L1028.98 43.7713L888.01 33.1349H810.74L755.56 38.3168L704.38 21.9531L668.26 48.9531L524.78 33.1349H418.42L343.66 38.3168L334.13 43.7713L212.72 28.4986V38.3168L27.59 43.7713Z"
          fill="#fff"></path>
      </mask>
    </svg>

    <main class="main">
      <slot />
    </main>

    {hasFooter && <Footer />}
    <LandingDiaglos />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
