---
import './connect.css';
import Image from 'astro/components/Image.astro';
import SvgConnectTitle from './assets/connect-title.svg?raw';
import Button from '~/components/button/Button.astro';

const connectList = [
  { title: 'Актуальные обновления', text: 'Наша команда регулярно делает Вашу игру лучше!' },
  {
    title: 'Игроки в приоритете',
    text: 'Наша задача обеспечить максимальный комфорт для наших игроков. Мы Вас слышим, слушаем и внимаем.',
  },
  {
    title: 'Лучшая поддержка',
    text: 'Оптимизировали все рабочие процессы таким образом, чтобы оказывать максимально быструю помощь по любому запросу',
  },
  {
    title: 'Разумное сообщество',
    text: 'Мы делаем качественный продукт, основываясь на обратной связи со своим сообществом.',
  },
];
---

<script>
  import anime from 'animejs/lib/anime.es.js';

  var connectList = document.querySelectorAll('.landing-connect__list li');

  var connectListAnimation = anime({
    targets: connectList,
    opacity: [0, 1],
    translateY: [-80, 0],
    autoplay: false,
    delay: anime.stagger(100),
  });

  const observer = new IntersectionObserver((entries) => {
    // Loop over the entries
    entries.forEach((entry) => {
      // If the element is visible
      if (entry.isIntersecting) {
        // Add the animation class
        connectListAnimation.play();
      }
    });
  });

  observer.observe(document.querySelector('.landing-connect'));
</script>

<section id="landing-connect" class="landing-connect">
  <div class="landing-connect__header">
    <h1>Присоединяйся прямо&nbspсеичас</h1>

    <Fragment set:html={SvgConnectTitle} />
  </div>

  <div class="landing-connect__inner inner">
    <ul class="landing-connect__list">
      {
        connectList.map(({ title, text }) => (
          <li>
            <strong>{title}</strong>
            <p>{text}</p>
          </li>
        ))
      }
    </ul>

    <div class="landing-connect__cta">
      <Button size="md" text="Hачать играть" />
    </div>
  </div>
</section>
