---
import Link from '../link/Link.astro';
import Icon from '../icon/Icon.astro';

const { class: className, ...rest } = Astro.props;
---

<div class:list={['topline__login', className]}>
  <Link icon={true} text="Вход">
    <Icon slot="icon" size="sm" name="sign-in" />
  </Link>
</div>
