---
import './topline.css';

import ToplineNav from './ToplineNav.astro';
import ToplineToggle from './ToplineToggle.astro';
import ToplineReg from './ToplineReg.astro';
import ToplineLanguage from './ToplineLanguage.astro';
import ToplineLogin from './ToplineLogin.astro';
import ToplineLogo from './ToplineLogo.astro';

export interface Props {
  isClosed?: boolean;
  type?: string;
}

const { isClosed, type } = Astro.props;
---

<script>
  // todo: it could be too much for this project. we can remove nanostores later
  import { isOpen } from '../../store.js';
  import { Dropdown } from 'bootstrap';

  const toggle = document.querySelector('[data-aw-toggle-menu]');
  const topline = document.querySelector('[data-aw-topline]');

  toggle.addEventListener('click', () => {
    topline.classList.toggle('is-closed');
    isOpen.set(!isOpen.value);
  });

  const dropdownElementList = document.querySelectorAll('.dropdown-toggle');
  const dropdownList = [...dropdownElementList].map((dropdownToggleEl) => new Dropdown(dropdownToggleEl));
</script>

<header data-aw-topline class:list={['topline', { ['is-closed']: isClosed }, { [`topline--${type}`]: type }]}>
  <div class="topline__desktop hidden xl:block">
    <div class="topline__inner container mx-auto">
      <ToplineLogo />
      <ToplineNav />
      <ToplineLanguage />
      <ToplineReg />
      <ToplineLogin />
    </div>
  </div>

  <div class="topline__mobile flex xl:hidden">
    <div class="border-b border-b-ui-separator">
      <ToplineLogo />
      <ToplineReg classes="mobile" />
      <ToplineToggle />
    </div>

    <div class="topline__inner">
      <ToplineNav />

      <ToplineReg />

      <div class="flex">
        <ToplineLanguage classes="px-6 border-r border-r-ui-separator" />
        <ToplineLogin />
      </div>
    </div>
  </div>
</header>
