@define-mixin topline-hover $color, $active {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    background: $color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    &::before {
      transform: translateY(0px);
    }
  }

  &:active {
    &::before {
      background: $active;
    }
  }
}

.topline {
  display: flex;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100dvh;
  background: theme('colors.ex.dark.900');
  user-select: none;

  @media screen(xl) {
    min-height: theme('size.16');
    bottom: auto;
    border-bottom: 1px solid theme(colors.ui.separator);
  }
}

.topline__inner {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media screen(xl) {
    flex-direction: row;
    max-width: 1440px;
  }
}

.topline__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: theme('spacing.4');
  min-height: theme('size.16');
  cursor: pointer;

  @media screen(xl) {
    flex-direction: row;
    padding: 0;

    .logo {
      display: flex;
      align-items: center;
      border-right: 1px solid theme('colors.ui.separator');
      padding-left: theme('spacing.4');
      padding-right: theme('spacing.4');
      @mixin topline-hover rgb(249, 243, 222, 0.1), rgb(249, 243, 222, 0.05);
    }
  }
}

.topline__online {
  display: flex;
  align-items: center;
  font-size: theme('fontSize.xsm');

  @media screen(xl) {
    flex-direction: column;
    justify-content: center;
    padding-left: theme('spacing.4');
    padding-right: theme('spacing.4');
  }
}

.topline__toggle {
  position: absolute;
  cursor: pointer;
  border-left: 1px solid theme('colors.ui.separator');
  top: 0;
  right: 0;
  width: theme('size.16');
  height: theme('size.16');
  display: flex;
  align-items: center;
  justify-content: center;
}

.topline__toggle-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.topline__nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  @media screen(xl) {
    flex-direction: row;
    flex: 1 1 auto;
  }
}

.topline__menu {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  justify-content: space-between;

  @media screen(xl) {
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: initial;
  }
}

.topline__menu-item {
  display: flex;
  flex: 1 1 auto;
  border-bottom: 1px solid #28232f;

  @media screen(xl) {
    border-bottom: 0;
  }
}

.topline__nav-link {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding-left: theme('spacing.4');
  padding-right: theme('spacing.4');

  @media screen(xl) {
    font-size: 13px;
    white-space: nowrap;
    justify-content: center;
    padding-left: theme('spacing.2');
    padding-right: theme('spacing.2');
    @mixin topline-hover theme(colors.ex.firmcolor), rgb(238, 39, 89, 0.3);
  }
}

.topline__reg {
  display: flex;
  min-height: theme('size.16');
  background: theme('colors.ex.firmcolor');

  .link {
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
  }

  &:not(.mobile) {
    @media screen(xl) {
      background: transparent;
      @mixin topline-hover theme(colors.ex.firmcolor), rgb(238, 39, 89, 0.3);

      .link {
        padding-left: theme('spacing.4');
        padding-right: theme('spacing.4');
      }
    }
  }
}

.topline__reg.mobile {
  display: none;
  width: theme('size.16');
  height: theme('size.16');
  background: theme('colors.ex.firmcolor');
  position: absolute;
  right: theme('size.16');
  top: 0;

  .link {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .link__text {
    font-size: 0;
    display: none;
  }

  .link__icon {
    margin-right: 0;
  }
}

.topline__login {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  min-height: theme('size.16');
  justify-content: center;

  .link {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen(xl) {
    flex: 0 1 auto;
    @mixin topline-hover theme(colors.ex.firmcolor), rgb(238, 39, 89, 0.3);

    .link {
      justify-content: center;
      padding-left: theme('spacing.4');
      padding-right: theme('spacing.4');
    }
  }
}

.topline__inner > * {
  border-bottom: 1px solid #28232f;

  @media screen(xl) {
    border-bottom: 0;
    border-right: 1px solid #28232f;
  }
}

.topline__lang {
  color: #443c4f;
  font-size: theme('fontSize.sm');
  position: relative;
}

.topline__lang-dropdown {
  width: 100%;
  min-width: auto;
  padding: 0 !important;
  margin: 0;
}

.topline__lang-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 100%;
  width: 100%;

  @media screen(xl) {
    @mixin topline-hover rgb(40, 35, 47, 0.5), rgb(40, 35, 47, 0.2);
    padding-left: theme('spacing.6');
    padding-right: theme('spacing.6');
  }
}

.topline__lang-menu {
  background: theme(colors.ex.dark.900);
  color: #443c4f;
  font-size: 1rem;
  font-weight: 500;

  li {
    border-bottom: 1px solid rgb(128, 128, 128, 0.2);
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;

    &:hover {
      background: rgb(68, 60, 79, 0.3);
    }

    &:active {
      background: rgb(68, 60, 79, 0.2);
      color: rgb(68, 60, 79, 0.5);
    }
  }
}

.topline__mobile {
  flex: 1;
  flex-direction: column;
  max-height: 100vh;
  max-height: 100dvh;

  .topline__inner {
    height: auto;
    flex: 1 1 auto;
  }

  .topline__menu-item {
    min-height: theme('size.16');
  }
}

.topline__desktop {
  flex: 1 1 auto;
}

.topline.is-closed {
  bottom: initial;
  min-height: initial;

  .topline__mobile {
    .topline__inner {
      display: none;
    }
  }

  .topline__reg.mobile {
    display: flex;
  }
}
