---
import Icon from '~/components/icon/Icon.astro';

const { isClosed = false } = Astro.props;
---

<div class="topline__toggle xl:hidden" data-aw-toggle-menu>
  <div class="topline__toggle-icon h-full flex items-center justify-center">
    {isClosed && <Icon name="close" />}
    {!isClosed && <Icon name="menu" />}
  </div>
</div>
