---
import { Icon } from 'astro-icon/components';
import SvgLogo from './assets/logo.svg?raw';
---

<div class="topline__logo">
  <a href="/" class="logo" role="presentation" aria-label="Expanse">
    <Fragment set:html={SvgLogo} />
  </a>

  <a href="/" class="topline__online">
    <span class="opacity-50 mr-1">Fuji x1</span>
    <span class="flex items-center text-ex-acidic">
      <Icon class="w-[11px] h-[11px] mr-1" name="online-badge-icon" />
      <span class="text-[11px] leading-[0px]">Online</span>
    </span>
  </a>
</div>
