---
import './hero.css';
import SvgOverSkull from './assets/shape-over.svg?raw';
import Logo from './assets/symbol-vertical.svg?raw';
import Player from '~/components/player/Player.astro';
---

<section id="landing-hero" class="hero">
  <div class="hero__bg" role="presentation">
    <div class="skull">
      <img class="skull-img" src="/images/skull-fire.png" loading="lazy" decoding="async" alt="Skull" />

      <svg class="skull-img" viewBox="0 0 1918 1043" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect id="skull-flame-tracker" x="935" y="465" width="15" height="14" fill="none"></rect>
      </svg>
      <video autoplay loop muted playsinline class="skull-flame" preload="auto">
        <source src="/images/fire_best_VP9.webm" type="video/webm" />
      </video>
    </div>
    <span class="hero-svg-shape">
      <Fragment set:html={SvgOverSkull} />
    </span>
  </div>

  <div class="hero__inner inner">
    <div class="hero__logo" role="presentation">
      <Fragment set:html={Logo} />
    </div>

    <!-- Make one big h1 -->
    <div class="hero__info">
      <div class="opening">
        <h1 class="opening-title">Открытие</h1>
      </div>

      <div class="date">
        <div class="date-text">
          <b>13 мая</b>
          <span>в 20:00</span>
        </div>
        <b class="opacity-40 text-[18px]">GMT +3</b>
      </div>

      <div class="hero__player">
        <Player />
        <div class="hero__quote">
          <span>Тут фишек много для людей, эмоций, страсти и идей</span>
        </div>
      </div>

      <a href="/" class="button hero__reg">Регистрация</a>
    </div>
  </div>
</section>
