---
import './hero.css';
import Image from 'astro/components/Image.astro';
import imageSkullSrc from '~/assets/images/skull-fire.png';
import SvgOverSkull from './assets/shape-over.svg?raw';
import logoSrc from '~/assets/images/symbol-vertical.svg';
import Icon from '~/components/icon/Icon.astro';
import Player from '~/components/player/Player.astro';
import Button from '../../button/Button.astro';
const { rest } = Astro.props;
---

<section id="landing-hero" class="hero">
  <div class="hero__bg">
    <div id="hero-scene" class="layer">
      <Image data-depth="0.1" src={imageSkullSrc} alt="" />
    </div>
    <Fragment set:html={SvgOverSkull} />
  </div>

  <div class="hero__inner inner">
    <div class="hero__logo">
      <Image src={logoSrc} alt="logo" />
    </div>

    <!-- Make one big h1 -->
    <div class="hero__info">
      <div class="opening">
        <h1 class="opening-title">Открытие</h1>
      </div>

      <div class="date">
        <div class="date-text">
          <b>13 мая</b>
          <span>в 20:00</span>
        </div>
        <b class="opacity-40 text-[18px]">GMT +3</b>
      </div>

      <div class="hero__player">
        <Player />
        <div class="hero__quote">
          <span>Тут фишек много для людей, эмоций, страсти и идей</span>
        </div>
      </div>

      <a href="/" class="button hero__reg">Регистрация</a>
    </div>
  </div>
</section>
